#inicio {
	background-color: #1D1D1D;
	color:#fff;
	padding: 10px;
}

#menuheader{
	position: relative;
	top:40px;
}
#menuheader li{
	padding:10px;
}
#menuheader li a{
	color:#fff;
	text-decoration: none;
}
#menuheader li a:hover{
	color:#A8EDFF;
	transition: color 0.8s linear 0.2s;
}

#menumovil {
	float: right;
	color: #fff;
	width: 100px;
	position: relative;
	top: 32px;
	left: 89%;
}

#descripcion h1 {
	margin-top: 20px;
}
#descripcion p {
	line-height: 25px;
}
img.king{
	width: 100%;
	max-width: 450px;
	margin: a auto;
}

.producto .card{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.producto .card h2, .producto .card small {
	color:#000;
}

footer {
	background-color: #eee;
	margin-top: 40px;
	padding: 30px;
}

@media only screen and (max-width: 992px) {
	#menuheader {
		position: initial;
		top: auto;
	}
}

@media only screen and (max-width: 575px) {
	#inicio .logo {
		margin: 0 auto;
		display: block;
	}
}